In [1]:
import pandas as pd
import numpy as np
from random import randint

In [2]:
df = pd.read_csv("./data/biodiversity_LatLong_52_short.csv")
#df.to_csv("./data/biodiversity_LatLong_52_short.csv", index=False)

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,101151.0,960684.969303,1.534094e+06,5550.00,91440.00,309995.00,922651.0,8323148.00
Latitude,101151.0,39.945690,1.003982e+01,19.38,35.68,38.53,44.6,67.55
Longitude,101151.0,-112.262570,2.204271e+01,-159.28,-121.51,-112.14,-102.5,-68.21

In [4]:
df.head(1)

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
0,Mammal,Artiodactyla,Antilocapridae,Pronghorn,Unconfirmed,Native,Unknown,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72

In [5]:
df["Category"].unique()

array(['Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Vascular Plant',
       'Slug/Snail', 'Insect', 'Other Non-vertebrates', 'Fungi',
       'Crab/Lobster/Shrimp', 'Spider/Scorpion', 'Non-vascular Plant',
       'Chromista', 'Bacteria', 'Protozoa', 'Archaea'], dtype=object)

In [6]:
categorydf = df[(df["Category"] == "Mammal")] #|(df["Category"] == "Fish") | (df["Category"] == "Bird")]

In [7]:
categorydf.head()

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
0,Mammal,Artiodactyla,Antilocapridae,Pronghorn,Unconfirmed,Native,Unknown,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72
1,Mammal,Artiodactyla,Bovidae,Bighorn Sheep,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G4,Secure,CO,32950,38.57,-107.72
2,Mammal,Artiodactyla,Cervidae,Elk,Present,Native,Unknown,Black Canyon of the Gunnison National Park,Unknown,Unranked,CO,32950,38.57,-107.72
3,Mammal,Artiodactyla,Cervidae,Mule Deer,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72
4,Mammal,Carnivora,Canidae,Coyote,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72

In [8]:
categorydf.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,3392.0,948524.574292,1.564913e+06,5550.00,77180.00,241904.00,922651.00,8323148.00
Latitude,3392.0,40.952176,8.665083e+00,19.38,36.24,38.57,44.35,67.55
Longitude,3392.0,-112.457736,1.804496e+01,-159.28,-121.20,-112.14,-104.44,-68.21

### Get the top N orders

In [9]:
num_random1 = randint(2,4)
print "num_random1 = ", num_random1

num_random1 =  3

In [10]:
grby1 = categorydf.groupby(["Category", "Order"]).head(num_random1)

In [11]:
grby1.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,39.0,464514.333333,1.077129e+06,5550.00,32950.00,32950.00,360267.500,4740912.00
Latitude,39.0,37.873077,8.144692e+00,20.72,35.96,38.57,38.570,59.92
Longitude,39.0,-108.853590,1.893338e+01,-156.17,-115.90,-107.72,-106.615,-78.35

### Get the top N families

In [12]:
num_random2 = randint(3,5)
print "num_random2 = ", num_random2

grby2 = grby1.groupby(["Family"]).head(num_random2)

num_random2 =  4

In [13]:
grby2.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,39.0,464514.333333,1.077129e+06,5550.00,32950.00,32950.00,360267.500,4740912.00
Latitude,39.0,37.873077,8.144692e+00,20.72,35.96,38.57,38.570,59.92
Longitude,39.0,-108.853590,1.893338e+01,-156.17,-115.90,-107.72,-106.615,-78.35

In [14]:
grby2.head(1)

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
0,Mammal,Artiodactyla,Antilocapridae,Pronghorn,Unconfirmed,Native,Unknown,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72

### Get the top 10-20 Common Names

In [15]:
num_random3 = 10 # randint(5,15) 
print "num_random3 = ", num_random3

num_random3 =  10

In [16]:
grby3 = grby2.groupby(["Common Names"]).head(num_random3)

In [17]:
grby3.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,39.0,464514.333333,1.077129e+06,5550.00,32950.00,32950.00,360267.500,4740912.00
Latitude,39.0,37.873077,8.144692e+00,20.72,35.96,38.57,38.570,59.92
Longitude,39.0,-108.853590,1.893338e+01,-156.17,-115.90,-107.72,-106.615,-78.35

### Eliminate the unknown values

In [18]:
grby3.isin(["Unknown"]).sum()

Category         0
Order            3
Family           4
Common Names     2
Occurrence       6
Nativeness       9
Abundance       25
Park Name        0
GRank           11
SRank            0
State            0
Acres            0
Latitude         0
Longitude        0
dtype: int64

In [19]:
orderdf = grby3[grby3.Order != "Unknown"] # | grby2.Family != "Unknown" | grby2['Common Names'] != "Unknown")]

In [20]:
familydf = orderdf[orderdf.Family != "Unknown"]

In [21]:
commonnamesdf = familydf[grby2['Common Names'] != "Unknown"]

/Users/Mai/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [22]:
commonnamesdf.isin(["Unknown"]).sum()

Category         0
Order            0
Family           0
Common Names     0
Occurrence       3
Nativeness       6
Abundance       22
Park Name        0
GRank            7
SRank            0
State            0
Acres            0
Latitude         0
Longitude        0
dtype: int64

### Now the data has no unknown in Category, Order, Family and Common names, use it.
Please note we can clean the unknown in other columns but can be done later

In [23]:
final_df = commonnamesdf

In [24]:
final_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,35.0,489341.714286,1.132920e+06,5550.00,32950.000,32950.00,360267.500,4740912.00
Latitude,35.0,37.018857,7.647794e+00,20.72,35.095,38.57,38.570,59.92
Longitude,35.0,-106.603143,1.823040e+01,-156.17,-107.720,-107.72,-104.975,-78.35

In [25]:
final_df.head()

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
0,Mammal,Artiodactyla,Antilocapridae,Pronghorn,Unconfirmed,Native,Unknown,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72
1,Mammal,Artiodactyla,Bovidae,Bighorn Sheep,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G4,Secure,CO,32950,38.57,-107.72
2,Mammal,Artiodactyla,Cervidae,Elk,Present,Native,Unknown,Black Canyon of the Gunnison National Park,Unknown,Unranked,CO,32950,38.57,-107.72
4,Mammal,Carnivora,Canidae,Coyote,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72
5,Mammal,Carnivora,Canidae,Common Gray Fox,Present,Native,Rare,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72

In [26]:
final_df = final_df.reset_index(drop=True)

## Part I: Calculate Nodes

In [27]:
category_weight = 200
order_weight = 100
family_weight = 50
commonname_weight = 20

new_columns=["Node", "Category", "Order", "Family", "Common Names", "Weight"]

In [28]:
cat_len = len(final_df.Category.unique())
print "Category len = ", cat_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
#columns_array = np.zeros((cat_len, 5))
nodes_df = pd.DataFrame(0, index=np.arange(cat_len), columns=new_columns)

nodes_df["Node"] = final_df.Category.unique()
nodes_df["Category"] = final_df.Category.unique()
nodes_df["Weight"] = category_weight
print "nodes_df shape = ", nodes_df.shape

Category len =  1
nodes_df shape =  (1, 6)

In [29]:
order_len = len(final_df.Order.unique())
print "Order len = ", order_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
temp_df = pd.DataFrame(0, index=np.arange(order_len), columns=new_columns)
temp_df["Node"] = final_df.Order.unique()
temp_df["Order"] = final_df.Order.unique()
temp_df["Weight"] = order_weight
nodes_df = nodes_df.append(temp_df)
print "nodes_df shape = ", nodes_df.shape

Order len =  12
nodes_df shape =  (13, 6)

In [30]:
family_len = len(final_df.Family.unique())
print "Family len = ", family_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
temp_df = pd.DataFrame(0, index=np.arange(family_len), columns=new_columns)
temp_df["Node"] = final_df.Family.unique()
temp_df["Family"] = final_df.Family.unique()
temp_df["Weight"] = family_weight
nodes_df = nodes_df.append(temp_df)
print "nodes_df shape = ", nodes_df.shape

Family len =  16
nodes_df shape =  (29, 6)

In [31]:
commonname_len = len(final_df["Common Names"].unique())
print "Commonname len = ", commonname_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
temp_df = pd.DataFrame(0, index=np.arange(commonname_len), columns=new_columns)
temp_df["Node"] = final_df["Common Names"].unique()
temp_df["Common Names"] = final_df["Common Names"].unique()
temp_df["Weight"] = commonname_weight
nodes_df = nodes_df.append(temp_df)
print "nodes_df shape = ", nodes_df.shape

Commonname len =  32
nodes_df shape =  (61, 6)

In [32]:
nodes_df.head()

           Node Category         Order Family Common Names  Weight
0        Mammal   Mammal             0      0            0     200
0  Artiodactyla        0  Artiodactyla      0            0     100
1     Carnivora        0     Carnivora      0            0     100
2    Chiroptera        0    Chiroptera      0            0     100
3    Lagomorpha        0    Lagomorpha      0            0     100

In [33]:
nodes_df.to_csv('./data/mammal_nodes.csv', index=False)

## Part II: Calculate Edges

In [34]:
weight_category = 200
weight_order = 100
weight_family = 50
#weight_commonname = 20

In [35]:
edges = pd.DataFrame(columns=["Source", "Target", "Weight"])

#for col in edge_columns:
for i, row in final_df.iterrows():
    temp = pd.DataFrame(columns=["Source", "Target", "Weight"])
    s = pd.Series([0,0,0], index=["Source", "Target", "Weight"])
    temp = temp.append(s, ignore_index=True)
    temp["Source"] = row.Category
    temp["Target"] = row.Order
    temp["Weight"] = weight_category
    edges = edges.append(temp)
    
    temp = pd.DataFrame(columns=["Source", "Target", "Weight"])
    s = pd.Series([0,0,0], index=["Source", "Target", "Weight"])
    temp = temp.append(s, ignore_index=True)
    temp["Source"] = row.Order
    temp["Target"] = row.Family
    temp["Weight"] = weight_order
    edges = edges.append(temp)
    
    temp = pd.DataFrame(columns=["Source", "Target", "Weight"])
    s = pd.Series([0,0,0], index=["Source", "Target", "Weight"])
    temp = temp.append(s, ignore_index=True)
    temp["Source"] = row.Family
    temp["Target"] = row["Common Names"]
    temp["Weight"] = weight_family
    edges = edges.append(temp)

In [36]:
edges.describe().T

       count unique        top freq
Source   105     29     Mammal   35
Target   105     60  Hominidae    3
Weight   105      3        200   35

In [37]:
edges.head()

           Source          Target Weight
0          Mammal    Artiodactyla    200
0    Artiodactyla  Antilocapridae    100
0  Antilocapridae       Pronghorn     50
0          Mammal    Artiodactyla    200
0    Artiodactyla         Bovidae    100

In [38]:
edges.to_csv('./data/mammal_edges.csv', index=False)

## Number of nodes and edges

In [39]:
print "num_randoms = ", num_random1, num_random2, num_random3
print "Number of nodes = ", len(nodes_df)
print "Number of edges = ", len(edges)

num_randoms =  3 4 10
Number of nodes =  61
Number of edges =  105