In [1]:
import pandas as pd
import numpy as np
from random import randint

In [2]:
df = pd.read_csv("./data/biodiversity_LatLong_52_short.csv")
#df.to_csv("./data/biodiversity_LatLong_52_short.csv", index=False)

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,101151.0,960684.969303,1.534094e+06,5550.00,91440.00,309995.00,922651.0,8323148.00
Latitude,101151.0,39.945690,1.003982e+01,19.38,35.68,38.53,44.6,67.55
Longitude,101151.0,-112.262570,2.204271e+01,-159.28,-121.51,-112.14,-102.5,-68.21

In [4]:
df.head(1)

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
0,Mammal,Artiodactyla,Antilocapridae,Pronghorn,Unconfirmed,Native,Unknown,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72

In [5]:
df["Category"].unique()

array(['Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Vascular Plant',
       'Slug/Snail', 'Insect', 'Other Non-vertebrates', 'Fungi',
       'Crab/Lobster/Shrimp', 'Spider/Scorpion', 'Non-vascular Plant',
       'Chromista', 'Bacteria', 'Protozoa', 'Archaea'], dtype=object)

In [6]:
categorydf = df[(df["Category"] == "Bird")] #| (df["Category"] == "Bird")] #|(df["Category"] == "Fish")

In [7]:
categorydf.head()

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
67,Bird,Accipitriformes,Accipitridae,Cooper's Hawk,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,Unknown,Unranked,CO,32950,38.57,-107.72
68,Bird,Accipitriformes,Accipitridae,Northern Goshawk,Present,Native,Rare,Black Canyon of the Gunnison National Park,G5,At risk,CO,32950,38.57,-107.72
69,Bird,Accipitriformes,Accipitridae,Sharp-shinned Hawk,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G5,At risk,CO,32950,38.57,-107.72
70,Bird,Accipitriformes,Accipitridae,Golden Eagle,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G5,At risk,CO,32950,38.57,-107.72
71,Bird,Accipitriformes,Accipitridae,Red-tailed Hawk,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72

In [8]:
categorydf.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,13297.0,890141.430022,1.481528e+06,5550.00,77180.00,242756.0,922651.00,8323148.00
Latitude,13297.0,40.365684,9.383343e+00,19.38,34.51,38.2,44.35,67.55
Longitude,13297.0,-109.992368,1.975876e+01,-159.28,-119.42,-110.5,-103.25,-68.21

### Get the top N orders

In [9]:
num_random1 = randint(2,2)
print "num_random1 = ", num_random1

num_random1 =  2

In [10]:
grby1 = categorydf.groupby(["Category", "Order"]).head(num_random1)

In [11]:
grby1.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,50.0,267869.0400,392996.273723,32950.00,32950.00,32950.00,564877.50,1508538.00
Latitude,50.0,40.2824,10.055636,24.63,38.57,38.57,38.57,59.92
Longitude,50.0,-110.5928,19.808837,-149.65,-107.72,-107.72,-107.72,-80.08

### Get the top N families

In [12]:
num_random2 = randint(1,3)
print "num_random2 = ", num_random2

grby2 = grby1.groupby(["Family"]).head(num_random2)

num_random2 =  3

In [13]:
grby2.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,50.0,267869.0400,392996.273723,32950.00,32950.00,32950.00,564877.50,1508538.00
Latitude,50.0,40.2824,10.055636,24.63,38.57,38.57,38.57,59.92
Longitude,50.0,-110.5928,19.808837,-149.65,-107.72,-107.72,-107.72,-80.08

In [14]:
grby2.head(1)

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
67,Bird,Accipitriformes,Accipitridae,Cooper's Hawk,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,Unknown,Unranked,CO,32950,38.57,-107.72

### Get the top 10-20 Common Names

In [15]:
num_random3 = randint(5,15) 
print "num_random3 = ", num_random3

num_random3 =  9

In [16]:
grby3 = grby2.groupby(["Common Names"]).head(num_random3)

In [17]:
grby3.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,50.0,267869.0400,392996.273723,32950.00,32950.00,32950.00,564877.50,1508538.00
Latitude,50.0,40.2824,10.055636,24.63,38.57,38.57,38.57,59.92
Longitude,50.0,-110.5928,19.808837,-149.65,-107.72,-107.72,-107.72,-80.08

### Eliminate the unknown values

In [18]:
grby3.isin(["Unknown"]).sum()

Category         0
Order            2
Family           2
Common Names     0
Occurrence       0
Nativeness       8
Abundance       16
Park Name        0
GRank            8
SRank            0
State            0
Acres            0
Latitude         0
Longitude        0
dtype: int64

In [19]:
orderdf = grby3[grby3.Order != "Unknown"] # | grby2.Family != "Unknown" | grby2['Common Names'] != "Unknown")]

In [20]:
familydf = orderdf[orderdf.Family != "Unknown"]

In [21]:
commonnamesdf = familydf[grby2['Common Names'] != "Unknown"]

/Users/Mai/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [22]:
commonnamesdf.isin(["Unknown"]).sum()

Category         0
Order            0
Family           0
Common Names     0
Occurrence       0
Nativeness       8
Abundance       15
Park Name        0
GRank            6
SRank            0
State            0
Acres            0
Latitude         0
Longitude        0
dtype: int64

### Now the data has no unknown in Category, Order, Family and Common names, use it.
Please note we can clean the unknown in other columns but can be done later

In [23]:
final_df = commonnamesdf

In [24]:
final_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Acres,48.0,261890.770833,392444.616181,32950.00,32950.00,32950.00,354666.50,1508538.00
Latitude,48.0,40.397708,10.221971,24.63,38.57,38.57,38.57,59.92
Longitude,48.0,-111.087292,19.755809,-149.65,-107.72,-107.72,-107.72,-80.08

In [25]:
final_df.head()

,Category,Order,Family,Common Names,Occurrence,Nativeness,Abundance,Park Name,GRank,SRank,State,Acres,Latitude,Longitude
67,Bird,Accipitriformes,Accipitridae,Cooper's Hawk,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,Unknown,Unranked,CO,32950,38.57,-107.72
68,Bird,Accipitriformes,Accipitridae,Northern Goshawk,Present,Native,Rare,Black Canyon of the Gunnison National Park,G5,At risk,CO,32950,38.57,-107.72
79,Bird,Anseriformes,Anatidae,Northern Pintail,Probably Present,Native,Unknown,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72
80,Bird,Anseriformes,Anatidae,American Wigeon,Present,Native,Uncommon,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72
95,Bird,Apodiformes,Apodidae,White-throated Swift,Present,Native,Abundant,Black Canyon of the Gunnison National Park,G5,Secure,CO,32950,38.57,-107.72

In [26]:
final_df = final_df.reset_index(drop=True)

## Part I: Calculate Nodes

In [27]:
category_weight = 200
order_weight = 100
family_weight = 50
commonname_weight = 20

new_columns=["Node", "Category", "Order", "Family", "Common Names", "Weight"]

In [28]:
cat_len = len(final_df.Category.unique())
print "Category len = ", cat_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
#columns_array = np.zeros((cat_len, 5))
nodes_df = pd.DataFrame(0, index=np.arange(cat_len), columns=new_columns)

nodes_df["Node"] = final_df.Category.unique()
nodes_df["Category"] = final_df.Category.unique()
nodes_df["Weight"] = category_weight
print "nodes_df shape = ", nodes_df.shape

Category len =  1
nodes_df shape =  (1, 6)

In [29]:
order_len = len(final_df.Order.unique())
print "Order len = ", order_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
temp_df = pd.DataFrame(0, index=np.arange(order_len), columns=new_columns)
temp_df["Node"] = final_df.Order.unique()
temp_df["Order"] = final_df.Order.unique()
temp_df["Weight"] = order_weight
nodes_df = nodes_df.append(temp_df)
print "nodes_df shape = ", nodes_df.shape

Order len =  24
nodes_df shape =  (25, 6)

In [30]:
family_len = len(final_df.Family.unique())
print "Family len = ", family_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
temp_df = pd.DataFrame(0, index=np.arange(family_len), columns=new_columns)
temp_df["Node"] = final_df.Family.unique()
temp_df["Family"] = final_df.Family.unique()
temp_df["Weight"] = family_weight
nodes_df = nodes_df.append(temp_df)
print "nodes_df shape = ", nodes_df.shape

Family len =  28
nodes_df shape =  (53, 6)

In [31]:
commonname_len = len(final_df["Common Names"].unique())
print "Commonname len = ", commonname_len

#Create an array for "Category-1, Order-2, Family-3, Common Names-4, and Weight" columns
temp_df = pd.DataFrame(0, index=np.arange(commonname_len), columns=new_columns)
temp_df["Node"] = final_df["Common Names"].unique()
temp_df["Common Names"] = final_df["Common Names"].unique()
temp_df["Weight"] = commonname_weight
nodes_df = nodes_df.append(temp_df)
print "nodes_df shape = ", nodes_df.shape

Commonname len =  45
nodes_df shape =  (98, 6)

In [32]:
nodes_df.head()

               Node Category             Order Family Common Names  Weight
0              Bird     Bird                 0      0            0     200
0   Accipitriformes        0   Accipitriformes      0            0     100
1      Anseriformes        0      Anseriformes      0            0     100
2       Apodiformes        0       Apodiformes      0            0     100
3  Caprimulgiformes        0  Caprimulgiformes      0            0     100

In [33]:
nodes_df.to_csv('./data/mammal_nodes.csv', index=False)

## Part II: Calculate Edges

In [34]:
weight_category = 200
weight_order = 100
weight_family = 50
#weight_commonname = 20

In [35]:
edges = pd.DataFrame(columns=["Source", "Target", "Weight"])

#for col in edge_columns:
for i, row in final_df.iterrows():
    temp = pd.DataFrame(columns=["Source", "Target", "Weight"])
    s = pd.Series([0,0,0], index=["Source", "Target", "Weight"])
    temp = temp.append(s, ignore_index=True)
    temp["Source"] = row.Category
    temp["Target"] = row.Order
    temp["Weight"] = weight_category
    edges = edges.append(temp)
    
    temp = pd.DataFrame(columns=["Source", "Target", "Weight"])
    s = pd.Series([0,0,0], index=["Source", "Target", "Weight"])
    temp = temp.append(s, ignore_index=True)
    temp["Source"] = row.Order
    temp["Target"] = row.Family
    temp["Weight"] = weight_order
    edges = edges.append(temp)
    
    temp = pd.DataFrame(columns=["Source", "Target", "Weight"])
    s = pd.Series([0,0,0], index=["Source", "Target", "Weight"])
    temp = temp.append(s, ignore_index=True)
    temp["Source"] = row.Family
    temp["Target"] = row["Common Names"]
    temp["Weight"] = weight_family
    edges = edges.append(temp)

In [36]:
edges.describe().T

       count unique            top freq
Source   144     53           Bird   48
Target   144     97  Columbiformes    2
Weight   144      3            200   48

In [37]:
edges.head()

            Source           Target Weight
0             Bird  Accipitriformes    200
0  Accipitriformes     Accipitridae    100
0     Accipitridae    Cooper's Hawk     50
0             Bird  Accipitriformes    200
0  Accipitriformes     Accipitridae    100

In [38]:
edges.to_csv('./data/mammal_edges.csv', index=False)

## Number of nodes and edges

In [39]:
print "num_randoms = ", num_random1, num_random2, num_random3
print "Number of nodes = ", len(nodes_df)
print "Number of edges = ", len(edges)

num_randoms =  2 3 9
Number of nodes =  98
Number of edges =  144

In [40]:
nodes_df.head()

               Node Category             Order Family Common Names  Weight
0              Bird     Bird                 0      0            0     200
0   Accipitriformes        0   Accipitriformes      0            0     100
1      Anseriformes        0      Anseriformes      0            0     100
2       Apodiformes        0       Apodiformes      0            0     100
3  Caprimulgiformes        0  Caprimulgiformes      0            0     100

In [41]:
nodes_df.Node.unique()

array(['Bird', 'Accipitriformes', 'Anseriformes', 'Apodiformes',
       'Caprimulgiformes', 'Charadriiformes', 'Columbiformes',
       'Coraciiformes', 'Falconiformes', 'Galliformes', 'Gruiformes',
       'Passeriformes', 'Pelecaniformes', 'Piciformes', 'Podicipediformes',
       'Strigiformes', 'Gaviiformes', 'Procellariiformes', 'Suliformes',
       'Cuculiformes', 'Phaethontiformes', 'Phoenicopteriformes',
       'Trogoniformes', 'Ciconiiformes', 'Psittaciformes', 'Accipitridae',
       'Anatidae', 'Apodidae', 'Caprimulgidae', 'Charadriidae', 'Laridae',
       'Columbidae', 'Alcedinidae', 'Falconidae', 'Odontophoridae',
       'Phasianidae', 'Gruidae', 'Rallidae', 'Aegithalidae', 'Alaudidae',
       'Ardeidae', 'Picidae', 'Podicipedidae', 'Strigidae', 'Gaviidae',
       'Diomedeidae', 'Phalacrocoracidae', 'Cuculidae', 'Phaethontidae',
       'Phoenicopteridae', 'Trogonidae', 'Ciconiidae', 'Psittacidae',
       "Cooper's Hawk", 'Northern Goshawk', 'Northern Pintail',
       'American Wigeon', 'White-throated Swift', 'Black Swift',
       'Common Nighthawk', 'Common Poorwill', 'Killdeer',
       'California Gull', 'Rock Dove', 'Band-tailed Pigeon',
       'Belted Kingfisher', 'Merlin', 'Prairie Falcon', "Gambel's Quail",
       'Chukar', 'Sandhill Crane', 'American Coot', 'Bushtit',
       'Horned Lark', 'Great Blue Heron', 'Black-crowned Night-Heron',
       'Northern Flicker (Red-shafted)', "Lewis's Woodpecker",
       'Pied-billed Grebe', 'Northern Saw-whet Owl', 'Long-eared Owl',
       'Belted kingfisher', 'Yellow-billed loon', 'Arctic loon',
       'Western Grebe', 'Short-tailed albatross', 'Laysan albatross',
       'Double-crested cormorant', 'Pelagic cormorant',
       'Yellow-billed cuckoo', 'Black-billed cuckoo',
       'White-tailed Tropicbird', 'American Flamingo, Greater Flamingo',
       'Elegant Trogon', 'Red-billed Tropicbird', 'Wood Stork',
       'Canary-winged Parakeet, White-winged Parakeet', 'Budgerigar'], dtype=object)